<% layout("/layouts/boilerplate") %>
<body>
  <div class="row">
    <div class="col-8 offset-2">
  <h2>Create a new listing</h2>
  <form action="/listings" method="post" novalidate class="needs-validation">

    <div class="md-3">
      <label for="title" class="form-label">title</label>
      <input type="text" placeholder="enter your title"  name="listing[title]" class="form-control" required>
      <div class="valid-feedback">Looks good!</div>
      <div class="invalid-feedback">Title Should be valid</div>
    </div>

    <div class="md-3">
      <label for="description" class="form-label">description</label>
      <textarea cols="30" rows="5" name="listing[description]" class="form-control" required></textarea>
      <div class="valid-feedback">Looks good!</div>
      <div class="invalid-feedback">Description Should be valid</div>
    </div>

    <div class="md-3">
      <label for="image" class="form-label">Uplode Listing image</label>
      <input type="text"  name="listing[image]" class="form-control" placeholder="enter image" >
      <div class="valid-feedback">Looks good!</div>
    </div>
    
    <div class="row">
      <div class="md-3 col-md-4">
        <label for="price" class="form-label">price</label>
        <input type="number" placeholder="1200" name="listing[price]" class="form-control" required>
        <div class="valid-feedback">Looks good!</div>
        <div class="invalid-feedback">Price Should be valid</div>
      </div>
      
      <div class="md-3 col-md-8"> 
        <label for="location" class="form-label">location</label>
        <input type="text" placeholder="Goa" name="listing[location]" class="form-control" required>
        <div class="valid-feedback">Looks good!</div>
        <div class="invalid-feedback">Location Should be valid</div>
      </div>
    </div>
    
    <div class="md-3">
      <label for="country" class="form-label">country</label>
      <input type="text" placeholder="India" name="listing[country]" class="form-control" required> 
      <div class="valid-feedback">Looks good!</div>
      <div class="invalid-feedback">Country Should be valid</div>
    </div>
    <br><br>
    <button class="btn btn-dark add-btn">Add</button>
    <br><br>
  </form>
</div>
</div>
</body>
